{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="fb-root"></div>
<!-- Header Starts -->
<div class="navbar-wrapper ">
      <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top animated fadeInDown" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              {% if page.logo %}
                {{ page.logo }}
              {% endif %}
              <!-- #Logo Ends -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              {% if page.header %}
                {{ page.header }}
              {% endif %}
            </div>
            <!-- #Nav Ends -->
          </div>
        </div>
      </div>
    </div>
<!-- #Header Starts -->

<!-- overlay -->
<div class="container overlay">

<!-- home banner starts -->
<div id="home" class="homeinfo">
<div class="row">
	<div class="col-sm-6 col-xs-12">
	<div class="fronttext">
	 	<h2 class="bgcolor  animated fadeInUpBig"><span class="glyphicon glyphicon-headphones"></span>
     {% if rhythm_title %}
       {{ rhythm_title }}
     {% endif %}
    </h2><br>
		<p class=" animated fadeInUp">
     {% if rhythm_description %}
       {{ rhythm_description }}
     {% endif %}</p>
	</div>
	</div>

	<div class="col-sm-5 col-xs-12 col-sm-offset-1">
	<div class="player">
	<img src="{% if rhythm_image %}{{ rhythm_image }}{% endif %}" class="graphics hidden-xs  animated fadeInRightBig" alt="dj"/>
		<iframe width="{% if audio_width %}{{ audio_width }}{% endif %}" height="{% if audio_height %}{{ audio_height }}{% endif %}"
    scrolling="{% if audio_scrolling %}{{ audio_scrolling }}{% endif %}" frameborder="{% if audio_frameborder %}{{ audio_frameborder }}{% endif %}" src="	{% if audio_url %}
      {{ audio_url }}{% endif %}"></iframe>
    </div>
	</div>

</div>	
</div>
<!-- home banner ends -->

<!-- blockblack -->
<div class="blockblack">
<!-- playlist Starts -->
<div id="playlist" class="spacer">
	<div class="row">
					<div class="col-md-12 col-xs-12">
					<h3><span class="glyphicon glyphicon-list"></span> 
            {% if play %}
             {{ play }}
            {% endif %}
          </h3>
					<iframe width="{% if playlist_width %}{{ playlist_width }}{% endif %}" height="{% if playlist_height %}{{ playlist_height }}{% endif %}"
          scrolling="{% if playlist_scrolling %}{{ playlist_scrolling }}{% endif %}" frameborder="{% if playlist_frameborder %}{{ playlist_frameborder }}{% endif %}"
          src="{% if playlist_url %}{{ playlist_url }}{% endif %}"></iframe>
					</div>
	</div>
  {{ page.content }}
</div>
<!-- #playlist Ends -->
<!--Blog Events Ends-->
</div>
<!-- blockblack -->
</div>
<!-- overlay -->

<!-- Footer Starts -->
{% if copyright_text %}
<div id="footer">
<div class="container">
    {{ copyright_text }}
</div>
</div>
{% endif %}
<!-- # Footer Ends -->

<!-- background slider -->
<div id="myCarousel" class="carousel slide hidden-xs">
<div class="carousel-inner">
    {% for imgs in imgs %}
    <div class="{% if loop.first %}active{% endif %} item"><img src="{% if imgs %}{{ imgs }}{% endif %}" alt="" /></div>
    {% endfor %}
  </div>
</div>
<!-- background slider -->
